.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #FEFAEF;
}
.card {
  background-color: #FF8303;
}
.purrfect-text {
  font-size: 28px; /* Adjust the font size as needed */
}
.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  border-radius: 25px; /* Adjust the value to control the curvature */
  padding: 5px 10px;
  margin-right: 10px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}
.card-hover:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Increase the shadow */
  transform: translateY(-4px); /* Increase the translation */
  transition: box-shadow 0.3s, transform 0.3s;
}
.registration-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Makes the message container cover the entire viewport height */
  background-color: rgba(0, 0, 0, 0.8); /* Adds a semi-transparent background to make the message stand out */
  position: fixed; /* Fixes the message container in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; /* Ensures it's on top of other content */
  color: white; /* Text color */
  font-size: 24px; /* Adjust the font size as needed */
  /* Add other styling as needed */
}


